[submodule "DaisyExamples"]
	path = DaisyExamples
	url = https://github.com/electro-smith/DaisyExamples.git
[submodule "Kardio/libDaisy"]
	path = Kardio/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "Kardio/DaisySP"]
	path = Kardio/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
